{"swagger": "2.0", "info": {"title": "Skin Care API", "description": "API documentation for my project", "termsOfService": "https://www.example.com/terms/", "contact": {"email": "riadhosain420@gmail.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "api.glowmi.net", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header", "description": "Enter token as: **Bearer &lt;your_token&gt;**"}}, "security": [{"Bearer": []}], "paths": {"/adminapi/categories/{id}/": {"get": {"operationId": "adminapi_categories_read", "summary": "Retrieve a category", "description": "Endpoint to get a single category by ID. Only accessible by admin users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Category fetched successfully", "schema": {"$ref": "#/definitions/Categorylistserializer"}}, "404": {"description": "Not Found"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Category"]}, "patch": {"operationId": "adminapi_categories_partial_update", "summary": "Update a category", "description": "Endpoint to update an existing category by ID. Only accessible by admin users.", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 400, "x-nullable": true}, {"name": "image", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Category updated successfully", "schema": {"$ref": "#/definitions/Categorylistserializer"}}, "400": {"description": "Bad Request"}, "404": {"description": "Not Found"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Category"]}, "delete": {"operationId": "adminapi_categories_delete", "summary": "Delete a category", "description": "Endpoint to delete a category by ID. Only accessible by admin users.", "parameters": [], "responses": {"204": {"description": "Category deleted successfully"}, "404": {"description": "Not Found"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Category"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/adminapi/category/": {"get": {"operationId": "adminapi_category_list", "summary": "get all categories", "description": "Endpoint to get all categories. Only accessible by admin users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Category list fetched successfully", "schema": {"type": "array", "items": {"$ref": "#/definitions/Categorylistserializer"}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Category"]}, "post": {"operationId": "adminapi_category_create", "summary": "Create a new category", "description": "Endpoint to create a new category. Only accessible by admin users.", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 400, "x-nullable": true}, {"name": "image", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"201": {"description": "Category created successfully", "schema": {"$ref": "#/definitions/Categorylistserializer"}}, "400": {"description": "Bad Request"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Category"]}, "parameters": []}, "/adminapi/product/": {"get": {"operationId": "adminapi_product_list", "summary": "get all products", "description": "Endpoint to get all products. Only accessible by admin users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Product list fetched successfully", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductListserializer"}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Product"]}, "post": {"operationId": "adminapi_product_create", "summary": "Create a new product", "description": "Endpoint to create a new product. Only accessible by admin users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"201": {"description": "Product created successfully", "schema": {"$ref": "#/definitions/ProductListserializer"}}, "400": {"description": "Bad Request"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Product"]}, "parameters": []}, "/adminapi/products/{id}/": {"get": {"operationId": "adminapi_products_read", "summary": "get a product", "description": "Endpoint to get a product. Only accessible by admin users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Product fetched successfully", "schema": {"$ref": "#/definitions/ProductListserializer"}}, "404": {"description": "Product not found"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Product"]}, "patch": {"operationId": "adminapi_products_partial_update", "summary": "Update a product", "description": "Endpoint to update a product. Only accessible by admin users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Product updated successfully", "schema": {"$ref": "#/definitions/ProductListserializer"}}, "400": {"description": "Bad Request"}, "404": {"description": "Product not found"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Product"]}, "delete": {"operationId": "adminapi_products_delete", "summary": "Delete a product", "description": "Endpoint to delete a product. Only accessible by admin users.", "parameters": [], "responses": {"204": {"description": "Product deleted successfully"}, "404": {"description": "Product not found"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Product"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/forget-password/reset/": {"post": {"operationId": "forget-password_reset_create", "description": "Reset the user's password after OTP verification", "parameters": [{"name": "email", "in": "formData", "required": true, "type": "string", "format": "email", "minLength": 1}, {"name": "new_password", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Password reset successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Password reset successfully."}, "data": {"type": "object", "example": {}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Forget Password"]}, "parameters": []}, "/forget-password/send-otp/": {"post": {"operationId": "forget-password_send-otp_create", "description": "Send OTP to user email for password reset", "parameters": [{"name": "email", "in": "formData", "required": true, "type": "string", "format": "email", "minLength": 1}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"201": {"description": "OTP sent successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "OTP sent successfully."}, "data": {"type": "object", "example": {}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Forget Password"]}, "parameters": []}, "/forget-password/verify-otp/": {"post": {"operationId": "forget-password_verify-otp_create", "description": "Verify the OTP sent to the user's email", "parameters": [{"name": "email", "in": "formData", "required": true, "type": "string", "format": "email", "minLength": 1}, {"name": "otp", "in": "formData", "required": true, "type": "string", "maxLength": 4, "minLength": 1}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"200": {"description": "OTP verified successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "OTP verified successfully."}, "data": {"type": "object", "example": {}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Forget Password"]}, "parameters": []}, "/login/": {"post": {"operationId": "login_create", "description": "Authenticate a user with email and password, returning JWT access and refresh tokens along with user details.", "parameters": [{"name": "email", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "password", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"201": {"description": "User registered successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "message": {"type": "string"}, "data": {"type": "object", "properties": {"access_token": {"type": "string"}, "refresh_token": {"type": "string"}, "user": {"type": "object", "properties": {"id": {"type": "integer"}, "email": {"type": "string"}, "role": {"type": "string"}, "full_name": {"type": "string"}, "gender": {"type": "string"}, "date_of_birth": {"type": "string", "format": "date"}, "image": {"type": "string"}}}}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Authentication"]}, "parameters": []}, "/password-change/": {"post": {"operationId": "password-change_create", "description": "Change the current user's password using old and new password.", "parameters": [{"name": "old_password", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "new_password", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Password updated successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Password updated successfully"}, "data": {"type": "object", "example": {}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Authentication"]}, "parameters": []}, "/profile/": {"get": {"operationId": "profile_list", "description": "Get logged-in user's profile details.", "parameters": [{"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Profile"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Profile"]}, "patch": {"operationId": "profile_partial_update", "description": "Update logged-in user's profile. Supports partial updates.", "parameters": [{"name": "email", "in": "formData", "required": false, "type": "string", "format": "email", "minLength": 1}, {"name": "full_name", "in": "formData", "required": false, "type": "string", "maxLength": 200, "x-nullable": true}, {"name": "gender", "in": "formData", "required": false, "type": "string", "maxLength": 50, "x-nullable": true}, {"name": "date_of_birth", "in": "formData", "required": false, "type": "string", "format": "date", "x-nullable": true}, {"name": "image", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Profile"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Profile"]}, "parameters": []}, "/refresh/": {"post": {"operationId": "refresh_create", "description": "Refresh JWT access token using a valid refresh token.", "parameters": [{"name": "refresh", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenRefresh"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Authentication"]}, "parameters": []}, "/register/": {"post": {"operationId": "register_create", "description": "Register a new user and return JWT tokens", "parameters": [{"name": "email", "in": "formData", "required": true, "type": "string", "format": "email", "minLength": 1}, {"name": "password", "in": "formData", "required": true, "type": "string", "minLength": 1}, {"name": "full_name", "in": "formData", "required": false, "type": "string", "maxLength": 200, "x-nullable": true}, {"name": "gender", "in": "formData", "required": false, "type": "string", "maxLength": 50, "x-nullable": true}, {"name": "contact_number", "in": "formData", "required": false, "type": "string", "maxLength": 20, "x-nullable": true}, {"name": "date_of_birth", "in": "formData", "required": false, "type": "string", "format": "date", "x-nullable": true}, {"name": "skin_type", "in": "formData", "required": false, "type": "string", "maxLength": 50, "x-nullable": true}, {"name": "image", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "lean", "in": "query", "description": "Language code for translation (default is 'EN')", "type": "string", "default": "EN"}], "responses": {"201": {"description": "User registered successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "message": {"type": "string"}, "data": {"type": "object", "properties": {"access_token": {"type": "string"}, "refresh_token": {"type": "string"}, "user": {"type": "object", "properties": {"id": {"type": "integer"}, "email": {"type": "string"}, "membership_Id": {"type": "string"}, "role": {"type": "string"}, "full_name": {"type": "string"}, "gender": {"type": "string"}, "date_of_birth": {"type": "string", "format": "date"}, "contact_number": {"type": "string"}, "skin_type": {"type": "string"}, "image": {"type": "string"}}}}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["Authentication"]}, "parameters": []}, "/userapi/categories/": {"get": {"operationId": "userapi_categories_list", "summary": "Get all categories", "description": "Endpoint to get a list of all categories. Accessible by regular users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "List of categories fetched successfully", "schema": {"type": "array", "items": {"$ref": "#/definitions/Categorylistserializer"}}}}, "tags": ["Category"]}, "parameters": []}, "/userapi/categories/{id}/": {"get": {"operationId": "userapi_categories_read", "summary": "Get category details", "description": "Endpoint to get details of a single category by ID. Accessible by regular users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Category details fetched successfully", "schema": {"$ref": "#/definitions/Categorylistserializer"}}, "404": {"description": "Not Found"}}, "tags": ["Category"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/userapi/products/": {"get": {"operationId": "userapi_products_list", "summary": "get all products", "description": "Endpoint to get all products. Only accessible by regular users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Product list fetched successfully", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductListserializer"}}}}, "tags": ["Product"]}, "parameters": []}, "/userapi/products/{id}/": {"get": {"operationId": "userapi_products_read", "summary": "get a product", "description": "Endpoint to get a product. Only accessible by regular users.", "parameters": [{"name": "lean", "in": "query", "description": "Language (EN / AR)", "type": "string", "default": "EN"}], "responses": {"200": {"description": "Product fetched successfully", "schema": {"$ref": "#/definitions/ProductListserializer"}}, "404": {"description": "Product not found"}}, "tags": ["Product"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"Categorylistserializer": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string"}, "image": {"title": "Image", "type": "string", "readOnly": true, "x-nullable": true, "format": "uri"}, "created_at": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}, "updated_at": {"title": "Updated at", "type": "string", "format": "date-time", "readOnly": true}}}, "ProductImage": {"type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "image": {"title": "Image", "type": "string", "readOnly": true, "x-nullable": true, "format": "uri"}}}, "ProductListserializer": {"required": ["category", "title", "sub_title", "skin_type", "description", "key_ingredients", "how_to_use", "key_benefits", "sku", "price"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "category": {"title": "Category", "type": "integer"}, "category_name": {"title": "Category name", "type": "string", "readOnly": true}, "title": {"title": "Title", "type": "string"}, "sub_title": {"title": "Sub title", "type": "string"}, "skin_type": {"title": "Skin type", "type": "string"}, "description": {"title": "Description", "type": "string"}, "key_ingredients": {"title": "Key ingredients", "type": "string"}, "how_to_use": {"title": "How to use", "type": "string"}, "key_benefits": {"title": "Key benefits", "type": "string"}, "size": {"title": "Size", "type": "string", "maxLength": 100, "x-nullable": true}, "sku": {"title": "Sku", "type": "string", "maxLength": 100, "minLength": 1}, "price": {"title": "Price", "type": "string", "format": "decimal"}, "discount": {"title": "Discount", "description": "Discount percentage or amount", "type": "string", "format": "decimal"}, "stock": {"title": "Stock", "type": "integer", "maximum": 2147483647, "minimum": 0}, "reserved_stock": {"title": "Reserved stock", "type": "integer", "maximum": 2147483647, "minimum": 0}, "is_available": {"title": "Is available", "type": "boolean"}, "video": {"title": "Video", "type": "string", "readOnly": true, "x-nullable": true, "format": "uri"}, "images": {"type": "array", "items": {"$ref": "#/definitions/ProductImage"}, "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}, "updated_at": {"title": "Updated at", "type": "string", "format": "date-time", "readOnly": true}}}, "Profile": {"type": "object", "properties": {"full_name": {"title": "Full name", "type": "string", "maxLength": 200, "x-nullable": true}, "email": {"title": "Email", "type": "string", "format": "email", "readOnly": true, "minLength": 1}, "role": {"title": "Role", "type": "string", "readOnly": true, "minLength": 1}, "image": {"title": "Image", "type": "string", "readOnly": true, "x-nullable": true, "format": "uri"}, "gender": {"title": "Gender", "type": "string", "enum": ["male", "female", "other"], "x-nullable": true}, "date_of_birth": {"title": "Date of birth", "type": "string", "format": "date", "x-nullable": true}}}, "TokenRefresh": {"required": ["refresh"], "type": "object", "properties": {"refresh": {"title": "Refresh", "type": "string", "minLength": 1}, "access": {"title": "Access", "type": "string", "readOnly": true, "minLength": 1}}}}}